* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: arial, sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    font-size: 14px;
}

/* BEGIN NAV */

nav {
    position: absolute;
    top: -100%;
    display: flex;
    justify-content: space-between;
    height: 125px;
    width: 100%;
    padding: 35px 35px 0 35px;
    box-sizing: border-box;
}

#nav {
    position: fixed;
    right: 35px;
    color: #f7f8f8;
    display: flex;
    align-items: center;
}

#nav-links {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 42px;
    margin-top: -150px;
}

a {
    display: inline;
    margin-right: 25px;
    color: white;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a:last-child {
    margin-right: 50px;
}

i.fa-home {
    vertical-align: middle;
}

.navicon:hover {
    cursor: pointer;
}

.fa-navicon, .fa-close {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*nav i {*/
    /*position: fixed;*/
    /*right: 35px;*/
    /*color: #f7f8f8;*/
    /*!*opacity: 0.6;*!*/
/*}*/

nav span:first-child {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: #f7f8f8;
    /*opacity: 0.6;*/
}

nav span:last-child {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #f7f8f8;
    /*opacity: 0.6;*/
}

/* END NAV */

/* BEGIN HOME SECTION */

#home-section {
    display: block;
    height: 100%;
    background-image: linear-gradient(rgba(19, 18, 18, 0.35), rgba(19, 18, 18, 0.35)), url('../images/general/forest.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#home-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.active {
    margin-left: -200vw;
}

#home-content span:first-child {
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    font-weight: 800;
    color: #f7f8f8;
}

#home-content span:last-child {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #f7f8f8;
}

#home-end {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

#home-end #slide-arrows {
    margin-left: 35px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 35px;
    color: #f7f8f8;
}

#home-end #slide-arrows i:last-of-type {
    margin-left: 25px;
}

#home-end-content:hover{
    cursor: pointer;
}

#home-end-content-holder #home-end-content-downchevron {
    width: 150px;
    height: 100%;
    border: 7.5px solid #f7f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f7f8f8;
    float: left;
    box-sizing: border-box;
}

#home-end-content-holder #home-end-content-downchevron:hover {
    cursor: pointer;
}

#home-end-content-holder #home-end-content {
    min-width: calc(calc(1920px * 0.25) - 150px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f8f8;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-weight: 800;
    color: #126059;
    float: left;
}

/*END HOME SECTION */

/* BEGIN ABOUT SECTION */

#about-section {
    height: 75%;
    display: flex;
}

.about-section-content {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.about-section-content:first-child {
    background: #f7f8f8;
    color: #126059;
}

.about-section-content:last-child {
    background: #126059;
    color: #f7f8f8;
}

.about-section-content-holder {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}

.about-section-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 44px;
}

.about-section-content:first-child .about-section-header, #about-section-content:first-child .about-section-text {
    color: #126059;
}

.about-section-content:last-child .about-section-header, #about-section-content:last-child .about-section-text {
    color: #f7f8f8;
}

.about-section-content .about-section-text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 75%;
}

/* END ABOUT SECTION */

/* BEGIN TEAM SECTION */

#team-section {
    background: #ededed;
}

#team-section-header {
    width: 100%;
    height: 150px;
    background: #0c514b;
}

#team-section-header-text {
    height: 100%;
    width: 37.5%;
    background: #126059;
    padding-left: 5%;
    box-sizing: border-box;
}

#team-section-header-text p {
    color: #f9fafb;
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: 800;
    line-height: 150px;
}

#team-section-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.team-section-container {
    align-self: flex-end;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.team-section-chevron {
    width: 150px;
    height: 285px;
    background: #126059;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-section-chevron {
    color: #f7f8f8;
}

.team-section-holder {
    max-width: 25vw;
    min-height: 5vh;
    max-height: 285px;
}

.team-section-holder img {
    height: auto;
    min-height: 275px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: -4px;
}

.team-section-holder:nth-child(2) {
    width: 100%;
    min-height: 5vh;
    display: flex;
    overflow: hidden;
}

.active-state {
    max-height: 75vh;
    max-width: 100%;
}

.team-section-holder:nth-child(2) img.team-section-photo-otherGuy {
    height: auto;
    max-height: 75vh;
    width: 50%;
    object-fit: cover;
    object-position: 30%;
}

.team-section-info {
    width: 50%;
    height: 75vh;
    background: #f7f8f8;
    display: flex;
    align-items: center;
}

.team-section-info-holder {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}

.team-section-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 44px;
    color: #126059;
}

.team-section-header span {
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
}

.team-section-text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 75%;
    color: #126059;
}

/* END TEAM SECTION */