* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow-y: scroll;
  font-family: arial, sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 14px;
}

/*Full screen, parallax background*/
/*
#sectionName {
  display: block;
  min-height: 100%;
  background: url('url-link');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
*/
